[{:block/name "a",
  :block/created-at 1656968461022,
  :block/updated-at 1656968461022}
 {:block/name "aphorisms for product management (2021)",
  :block/created-at 1657027030676,
  :block/updated-at 1657028443889}
 {:block/name "b",
  :block/created-at 1656968461022,
  :block/updated-at 1656968461022}
 {:block/name "c",
  :block/created-at 1656968461022,
  :block/updated-at 1656968461022}
 {:block/name "canceled",
  :block/created-at 1656968461022,
  :block/updated-at 1656968461022}
 {:block/name "cancelled",
  :block/created-at 1656968461022,
  :block/updated-at 1656968461022}
 {:block/name "card",
  :block/created-at 1656968461022,
  :block/updated-at 1656968461022}
 {:block/name "contents",
  :block/created-at 1657031360843,
  :block/updated-at 1657031360843}
 {:block/name "continuum of data ownership",
  :block/created-at 1657026394391,
  :block/updated-at 1657028377206}
 {:block/name "coordinating solutions to inadequate eqilibriums",
  :block/created-at 1657026391577,
  :block/updated-at 1657028023613}
 {:block/name "doing",
  :block/created-at 1656968461022,
  :block/updated-at 1656968461022}
 {:block/name "done",
  :block/created-at 1656968461022,
  :block/updated-at 1656968461022}
 {:block/name "dustin getz",
  :block/created-at 1657030303311,
  :block/updated-at 1657030303311}
 {:block/name "favorites",
  :block/created-at 1656968461022,
  :block/updated-at 1656968461022}
 {:block/name
  "four problems preventing visual flowchart programming from expressing web applications (2022)",
  :block/created-at 1657027000733,
  :block/updated-at 1657028437913}
 {:block/name "i'm dustin getz, digital citizen",
  :block/created-at 1657025862958,
  :block/updated-at 1657030430026}
 {:block/name "in-progress",
  :block/created-at 1656968461022,
  :block/updated-at 1656968461022}
 {:block/name "jul 5th, 2022",
  :block/created-at 1657029042875,
  :block/updated-at 1657029042875}
 {:block/name "later",
  :block/created-at 1656968461022,
  :block/updated-at 1656968461022}
 {:block/name
  "low-code is boilerplate automation, not abstraction (2022)",
  :block/created-at 1657026819803,
  :block/updated-at 1657028430234}
 {:block/name "now",
  :block/created-at 1656968461022,
  :block/updated-at 1656968461022}
 {:block/name "on big startup ideas (2017)",
  :block/created-at 1657026217713,
  :block/updated-at 1657026359463}
 {:block/name "photon",
  :block/created-at 1657028207793,
  :block/updated-at 1657028307981}
 {:block/name
  "sufficiently powerful optimization of any known target destroys all value",
  :block/created-at 1657026388617,
  :block/updated-at 1657027960616}
 {:block/name "the curse of development",
  :block/created-at 1657026382329,
  :block/updated-at 1657027666403}
 {:block/name "todo",
  :block/created-at 1656968461022,
  :block/updated-at 1656968461022}
 {:block/name "wait",
  :block/created-at 1656968461022,
  :block/updated-at 1656968461022}
 {:block/name "waiting",
  :block/created-at 1656968461022,
  :block/updated-at 1656968461022}
 {:block/name
  "what is the business value of strong composition? (2022)",
  :block/created-at 1657027023360,
  :block/updated-at 1657028436064}
 {:block/name "what is the job you that need developers for? (2022)",
  :block/created-at 1657026440906,
  :block/updated-at 1657028623266}
 {:block/name "you can't tell people anything (2004)",
  :block/created-at 1657026385018,
  :block/updated-at 1657027851189}
 {:block/name "you can’t find secrets without looking for them",
  :block/created-at 1657026377152, 
  :block/updated-at 1657027574041}]
